<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key = "DATA_SOURCE" value=".\SQLEXPRESS"/>
		<add key = "DATABASE" value="Bulky"/>
		<add key = "USER" value="sa"/>
		<add key = "PASSWORD" value="Dbtestingclave"/>
		<add key = "SP_INDEX" value="BD_INDEX_INSANO"/>
		<add key = "PATH_LOG" value="D:\parametros\LOG.txt"/>
	</appSettings>
</configuration>